.all-dir-padding{
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

table {
    padding-right: 6px;
    padding-left: 6px;
}


.demo-table {
    width: 100%;
}

table {
    width: 100%;
}
 
.mat-column-button{
    width: 10%;
}

.mat-column-input{
    width: 20%;
}

.divdiv {
    overflow-y: hidden;
}