<div class="all-dir-padding">
    <mat-card>
        <div>
            <mat-card-header>
                <mat-card-title>Registro de Compras:</mat-card-title>
            </mat-card-header>
                
            <div class="divdiv">
                <div class="float-right">
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary"
                                (click)="IngresarCompra()">
                            INGRESAR
                        </button>
                    </mat-card-actions>
                </div>
                
                <div class="float-right">
                    <mat-card-actions align="end">
                        <button mat-raised-button color="secondary"
                                (click)="LimpiarDatos()">
                            LIMPIAR
                        </button>
                    </mat-card-actions>
                </div> 
            </div>

      
            <div class="divdiv">
                <div class="divdivdiv" #divAltaCompra>
                    <mat-card-header>
                        <mat-card-subtitle>Datos de la Compra:</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <app-date-picker #fechaDatePicker name="Fecha"  
                                    [disabled]="false" [defaultval]="datosCampos.fechaCompra"
                                    [required]="true">
                                </app-date-picker>
                            </tr>
                            <tr>
                                <app-input name="Costo Total" #costoTotalInput type="decimal"
                                    [disabled]="false" defaultval="" [defaultval]="datosCampos.costoTotal">
                                </app-input>
                            </tr>
                            <tr>
                                <app-select Tittle="Proveedor" #proveedorSelect
                                    [Required]="true"
                                    [Options]="datos.opcionesSelect_Proveedores">
                                </app-select>
                            </tr>
                        </table>
                    </mat-card-actions>
                </div>


                <div class="divdivdiv" #divProductosSeleccionados>
                    <mat-card-header>
                        <mat-card-subtitle>Productos seleccionados:</mat-card-subtitle>
                    </mat-card-header>
                    <div #divProductosSeleccionados>
                        <app-table #tablaProductosSeleccionados 
                                [datos]="[]"
                                [admite_remover]="true" 
                                [admite_Input]="true"
                                input_column_tittle="Cantidad"
                                [input_column_options]="inputColumnOptions"
                                [definicion_columnas]="estructuraColumnas_productosSeleccionados"
                                [allow_example_vals_if_empty]="false">
                        </app-table>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div #divProductosDisponibles>
            <mat-card-header>
                <mat-card-title>Productos disponibles:</mat-card-title>
            </mat-card-header>
            <app-table #tablaProductosDisponibles [admite_seleccion]="true" 
                    [definicion_columnas]="estructuraColumnas_productosDisponibles"
                    [allow_example_vals_if_empty]="false"
                    [datos]="datos.datosTabla_productosDisponibles"
                    (elementoSeleccionado)="ColocarEnTablaElementosSeleccionados($event)">
            </app-table>
        </div>
    </mat-card>
</div>