<div class="all-dir-padding">
    <mat-card>
        <div>
            <mat-card-header>
                <mat-card-title>Reportes:</mat-card-title>
            </mat-card-header>

            <br>
            <br>
            <br>

            <mat-card-content>
                <div class="divdiv">
                    <table  class="divdivdiv">
                        <td>
                            <tr>
                                <mat-card-title>Reporte Compra-Ventas:</mat-card-title>
                                <button mat-raised-button color="primary"
                                    (click)="GenerarReporteCompraVentas()">Generar</button>
                            </tr>
                        </td>
                    </table>
                </div>
            </mat-card-content>
        </div>

    </mat-card>
</div>